/home/nboehme/Desktop/InteractiveGrounding.github.io/static/videos/delivery_video_final_sped_up.mp4 filter=lfs diff=lfs merge=lfs -text
/home/nboehme/Desktop/InteractiveGrounding.github.io/static/videos/unload_video_final_sped_up.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
